<h1 class="text-center header border-bottom">
    News!</h1>
<button class="scrape">Refresh Articles <span class="danger">(Clears Notes)</span></button>

<div class="container">
    {{#each Article}} {{> article/article}} {{/each}}
</div>